.parent {
  background-color: black;
  padding: 5px;
}

.parent div {
  width: 33%;
  height: 100px;
  display: inline-block;
  padding: 10px 30px;
  border: 20px solid white;
  box-sizing: border-box;
}

/* .parent .div1 {
  width: 40%;
} */

.parent > div > img {
  height: 100%;
}

.div1 {
  background-color: red;
}
.div2 {
  background-color: green;
}
.div3 {
  background-color: purple;
}
