* {
  all: initial;
}
/* html {
  color: orange;
}

.div1 {
  color: red;
  border: 4px solid rgb(77, 255, 0);
}

.p2 {
  border: inherit;
}

.div2 {
  /* border: unset; * /
  /* border: initial; * /
  font-size: 40px;
} */

/* .p3 {
  border: inherit;
  color: initial; /* reset the value to it's starting value */
/* for those properties which inherit by default, unset === inherit
  -----
   for those properties which do not inherit by default, unset === initial */
/* font-size: unset; * /
  font-size: inherit;
} */

.p3 {
  /* all: initial; */
  /* border: inherit; */
  /* font-size: revert; inherit */
  /* border: revert; */
  /* for those properties which inherit by default, revert === inherit
  -----
   for those properties which do not inherit by default, revert !== initial, browser 
   
   chrome   border = 2px solid red;
   firefox  border = 4px dashed blue;
   */
  /* font-size: unset; */

  /* display inline */
  /* font-size: initial; */
}

/* .div2 {
  color: inherit;
}



.p3 {
  color: inherit;
} */

/* :root === html */

/* color inherit */
