.p1 {
  /* 1 em */
  font-size: 1em;
  /* 1em = 16px html */
  /* relative element font-size */
}

.p2 {
  /* 1 rem */
  font-size: 1rem;
  /* 1rem = 16px */
  /* relative to document root/html-tag */
}
.p3 {
  /* 1 vw */
  font-size: 1vw;
  /*  */
}
.p4 {
  /* 1vh */
  font-size: 1vh;
}
.p5 {
  /* 1vmin */
  font-size: 1vmin;
}
.p6 {
  /* 1vmax */
  font-size: 1vmax;
}
.p7 {
  /* 1% */
  font-size: 1%;
}
